In [1]:
import pandas as pd

In [4]:
df_sv = pd.read_excel("SV.xlsx", sheet_name="SV")
df_sv.head(2)

   Masv TenSV MaKhoa
0  SV01   Nam   KHMT
1  SV02  Tuan   KHMT

In [5]:
df_khoa = pd.read_excel("SV.xlsx", sheet_name="Khoa")
df_khoa.head(2)

  MaKhoa            TenKhoa
0   KHMT  Khoa hoc may tinh
1    KTS         Kinh te so

In [6]:
df_mergepd = pd.merge(df_sv, df_khoa, on="MaKhoa")
df_mergepd

   Masv TenSV MaKhoa             TenKhoa
0  SV01   Nam   KHMT   Khoa hoc may tinh
1  SV02  Tuan   KHMT   Khoa hoc may tinh
2  SV03   Hai    KTS          Kinh te so
3  SV04  Hung    KTS          Kinh te so
4  SV05   Hoa   DTVT  Dien tu vien thong